<h3>All Posts</h3>

<ul>
    <% @feed.each do |p| %>
        <li>
            <h2>
                <%= p.content %><br>
                <%= p.gamer_tag %><br>
                <%= p.game %><br>
                <%= p.platform %><br>
            </h2>
        </li>
    <% end %>
</ul>